<!--
  Generated template for the FieldEdit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides ion-fixed pager class="swiper-no-swiping" (ionSlideDidChange)="slideChanged()">

    <!-- Draw boundaries on map to estimate hectares -->
    <ion-slide>
      <div padding>
        <h1>Create boundaries</h1>
        <p>Create the boundaries of your field below by creating points in a clockwise fashion.</p>
      </div>
      <div id="map-edit" class="map"></div>
    </ion-slide>

    <!-- Collect basic details (Field name, override calculated hectares) -->
    <ion-slide>
      <form [formGroup]="basicDetailsForm">
        <ion-list>
          <ion-list-header>Basic Details</ion-list-header>
          <ion-item>
            <ion-label stacked>Field Name</ion-label>
            <ion-input type="text" formControlName="name" placeholder="My Field"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Hectares</ion-label>
            <ion-input type="number" formControlName="hectares"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-slide>

    <!-- Collect soil details (Soil type, whether organic manures have been used and results of soil tests) -->
    <ion-slide>
      <form [formGroup]="soilDetailsForm">
        <ion-list>
          <ion-list-header>Soil Details</ion-list-header>
          <ion-item>
            <ion-label>Soil Type</ion-label>
            <ion-select formControlName="soilType">
              <ion-option *ngFor="let soil of strings.soil | keys" [value]="soil.key">{{soil.value}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Organic Manures<p>Do you regularly add organic manures?</p></ion-label>
            <ion-checkbox formControlName="organicManures"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>Results of soil tests (if available)</ion-list-header>
          <ion-item>
            <ion-label>Phorphorous (P)</ion-label>
            <ion-select formControlName="soilTestP">
              <ion-option value="soil-p-0">0</ion-option>
              <ion-option value="soil-p-1">1</ion-option>
              <ion-option value="soil-p-2">2</ion-option>
              <ion-option value="soil-p-3">3</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Potash (K)</ion-label>
            <ion-select formControlName="soilTestK">
              <ion-option value="soil-k-0">0</ion-option>
              <ion-option value="soil-k-1">1</ion-option>
              <ion-option value="soil-k-2-">2-</ion-option>
              <ion-option value="soil-k-2+">2+</ion-option>
              <ion-option value="soil-k-3">3</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </form>
    </ion-slide>

    <!-- Collect crop details (Has grass grown in the last 3 years on the soil, the previous crops grown and the new crops to be grown) -->
    <ion-slide>
      <form [formGroup]="cropDetailsForm">
        <ion-list>
          <ion-list-header>Crop Details</ion-list-header>
          <ion-item>
            <ion-label>Grass Grown<p>Has grass grown in the last 3 years?</p></ion-label>
            <ion-checkbox formControlName="grassGrown"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Old Crop Type</ion-label>
            <ion-select formControlName="oldCropType">
              <ion-option *ngFor="let crop of strings.previousCrop | keys" [value]="crop.key">{{crop.value}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>New Crop Type</ion-label>
            <ion-select formControlName="newCropType">
              <ion-option *ngFor="let crop of strings.crop | keys" [value]="crop.key">{{crop.value}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </form>
    </ion-slide>

    <!-- Show field information summary (Supply of nitrogen from the soil details, crop nutrient requirements from the crop details) -->
    <ion-slide>
      <ion-list *ngIf="cropRequirementsSupply">
        <ion-list-header>Soil N Supply</ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>N Kg/ha</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{cropRequirementsSupply.nitrogenSupply}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-list *ngIf="cropRequirementsSupply">
        <ion-list-header>Crop nutrient requirements</ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>N Kg/ha</h1>
            </ion-col>
            <ion-col>
              <h1>P&#x2082;O&#x2085; Kg/ha</h1>
            </ion-col>
            <ion-col>
              <h1>K&#x2082;O Kg/ha</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{cropRequirementsSupply.nitrogenRequirement}}</ion-col>
            <ion-col>{{cropRequirementsSupply.phosphorousRequirement}}</ion-col>
            <ion-col>{{cropRequirementsSupply.potassiumRequirement}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <!-- Navigation controls to allow the user to advance to the next slide -->
  <button ion-button clear small class="prev" ion-fixed (click)="prevPressed()" *ngIf="slides.getActiveIndex() !== 0">Previous</button>
  <button ion-button clear small class="next" ion-fixed (click)="nextPressed()" *ngIf="slides.getActiveIndex() == 0" [disabled]="!polygon">Next</button>
  <button ion-button clear small class="next" ion-fixed (click)="nextPressed()" *ngIf="slides.getActiveIndex() == 1" [disabled]="!basicDetailsForm.valid">Next</button>
  <button ion-button clear small class="next" ion-fixed (click)="nextPressed()" *ngIf="slides.getActiveIndex() == 2" [disabled]="!soilDetailsForm.valid">Next</button>
  <button ion-button clear small class="next" ion-fixed (click)="nextPressed()" *ngIf="slides.getActiveIndex() == 3" [disabled]="!cropDetailsForm.valid">Next</button>
  <button ion-button clear small class="next" ion-fixed (click)="savePressed()" *ngIf="slides.getActiveIndex() == 4">Save</button>
</ion-content>
