<ion-header>

  <ion-navbar>
    <ion-title>Edit Spreading</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides ion-fixed pager class="swiper-no-swiping">
    <ion-slide>
      <ion-scroll scrollY="true">
        <form [formGroup]="spreadForm">
          <ion-list>
            <ion-list-header>Basic Details</ion-list-header>
            <ion-item>
              <ion-label>Date</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="spreadDate"></ion-datetime>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>Manure Details</ion-list-header>
            <ion-item>
              <ion-label>Type {{spread.manureType}}</ion-label>
              <ion-select formControlName="manureType" (ionChange)="manureTypeChanged()" placeholder="Unselected">
                <ion-option *ngFor="let manure of strings.type | keys" [value]="manure.key">{{manure.value}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Quality</ion-label>
              <ion-select *ngIf="spreadForm.value.manureType !== 'custom'" formControlName="manureQuality" [disabled]="!strings.quality[spreadForm.value.manureType]" placeholder="Unselected">
                <ion-option *ngFor="let quality of strings.quality[spreadForm.value.manureType] | keys" [value]="quality.key">{{quality.value}}</ion-option>
              </ion-select>
              <!-- Custom Manure List -->
              <ion-select *ngIf="spreadForm.value.manureType == 'custom'" formControlName="manureQuality" [disabled]="!customManureList.length" placeholder="Unselected">
                <ion-option *ngFor="let quality of customManureList; let manureIndex = index;" [value]="manureIndex">{{quality.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Application Type</ion-label>
              <ion-select formControlName="manureApplicationType" [disabled]="!strings.application[spreadForm.value.manureType]" placeholder="Unselected">
                <ion-option *ngFor="let application of strings.application[spreadForm.value.manureType] | keys" [value]="application.key">{{application.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </form>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <!-- Calculations -->
      <ion-card>
        <img *ngIf="crapPicture" [src]="crapPicture" />
      </ion-card>
      <div class="bottom-fixed">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6></ion-col>
            <ion-col col-2>N</ion-col>
            <ion-col col-2>P&#x2082;O&#x2085;</ion-col>
            <ion-col col-2>K&#x2082;O</ion-col>
          </ion-row>
          <ion-row *ngIf="cropRequirementsSupply">
            <ion-col col-6 class="row-title">Crop nutrient reqs ({{strings.units[units].density}}/{{strings.units[units].fieldSize.short}})</ion-col>
              <ion-col col-2 class="row-value">{{units === 'imperial' ? kilogramHectareToUnitsAcre(cropRequirementsSupply.nitrogenRequirement) : cropRequirementsSupply.nitrogenRequirement}}</ion-col>
              <ion-col col-2 class="row-value">{{units === 'imperial' ? kilogramHectareToUnitsAcre(cropRequirementsSupply.phosphorousRequirement) : cropRequirementsSupply.phosphorousRequirement}}</ion-col>
              <ion-col col-2 class="row-value">{{units === 'imperial' ? kilogramHectareToUnitsAcre(cropRequirementsSupply.potassiumRequirement) : cropRequirementsSupply.potassiumRequirement}}</ion-col>
          </ion-row>
          <ion-row *ngIf="cropAvailable" class="row-crop-available">
            <ion-col col-6 class="row-title">Crop avail. nutrients ({{strings.units[units].density}}/{{strings.units[units].fieldSize.short}})</ion-col>
            <ion-col col-2 class="row-value" *ngIf="cropAvailable[1][0] !== 'na'">{{cropAvailable[1][0] | number:'1.0-2'}}</ion-col>
            <ion-col col-2 class="row-value" *ngIf="cropAvailable[1][0] == 'na'">N/A</ion-col>
            <ion-col col-2 class="row-value">{{cropAvailable[1][1] | number:'1.0-2'}}</ion-col>
            <ion-col col-2 class="row-value">{{cropAvailable[1][2] | number:'1.0-2'}}</ion-col>
          </ion-row>
          <ion-row *ngIf="cropAvailable">
            <ion-col col-6 class="row-title">Total in manure ({{strings.units[units].density}}/{{strings.units[units].fieldSize.short}})</ion-col>
            <ion-col col-2 class="row-value" *ngIf="cropAvailable[0][0] !== 'na'">{{cropAvailable[0][0] | number:'1.0-2'}}</ion-col>
            <ion-col col-2 class="row-value" *ngIf="cropAvailable[0][0] == 'na'">N/A</ion-col>
            <ion-col col-2 class="row-value">{{cropAvailable[0][1] | number:'1.0-2'}}</ion-col>
            <ion-col col-2 class="row-value">{{cropAvailable[0][2] | number:'1.0-2'}}</ion-col>
          </ion-row>
          <ion-row *ngIf="cropRequirementsSupply && cropAvailable">
            <ion-col col-6 class="row-title">Fert still needed ({{strings.units[units].density}}/{{strings.units[units].fieldSize.short}})</ion-col>
            <ion-col col-2 class="row-value" [ngClass]="cropRequirementsSupply.nitrogenRequirement - cropAvailable[1][0] < 0 ? 'negative' : ''" *ngIf="cropAvailable[1][0] !== 'na'">{{cropRequirementsSupply.nitrogenRequirement - cropAvailable[1][0] | number:'1.0-2'}}</ion-col>
            <ion-col col-2 class="row-value" *ngIf="cropAvailable[1][0] == 'na'">N/A</ion-col>
            <ion-col col-2 class="row-value" [ngClass]="cropRequirementsSupply.phosphorousRequirement - cropAvailable[1][1] < 0 ? 'negative' : ''">{{cropRequirementsSupply.phosphorousRequirement - cropAvailable[1][1] | number:'1.0-2'}}</ion-col>
            <ion-col col-2 class="row-value" [ngClass]="cropRequirementsSupply.potassiumRequirement - cropAvailable[1][2] < 0 ? 'negative' : ''">{{cropRequirementsSupply.potassiumRequirement - cropAvailable[1][2] | number:'1.0-2'}}</ion-col>
          </ion-row>
          <ion-row *ngIf="manureCosts">
            <ion-col col-6 class="row-title">Fertiliser savings (&pound;)</ion-col>
            <ion-col col-2 class="row-value">{{manureCosts[0]}}</ion-col>
            <ion-col col-2 class="row-value">{{manureCosts[1]}}</ion-col>
            <ion-col col-2 class="row-value">{{manureCosts[2]}}</ion-col>
          </ion-row>
        </ion-grid>
        <!-- Application Rate Slider -->
        <ion-list>
          <ion-list-header>
            <ion-label>Application Rate</ion-label>
            <ion-badge item-right>{{manureDensity | number: '1.0'}} {{strings.units[units].type[spreadForm.value.manureType]}}/{{strings.units[units].fieldSize.short}}</ion-badge>
          </ion-list-header>
          <ion-item>
            <ion-range min="0" [max]="strings.rangeMax[units][spreadForm.value.manureType]" [(ngModel)]="manureDensity" (ionChange)="calculate()">
              <ion-label range-left>0</ion-label>
              <ion-label range-right>{{strings.rangeMax[units][spreadForm.value.manureType]}}</ion-label>
            </ion-range>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>
  <button ion-button clear small class="prev" ion-fixed (click)="prevPressed()" *ngIf="slides.getActiveIndex() !== 0">Previous</button>
  <button ion-button clear small class="next" ion-fixed (click)="nextPressed()" *ngIf="slides.getActiveIndex() !== 1" [disabled]="!spreadForm.valid">Next</button>
  <button ion-button clear small class="next" ion-fixed (click)="savePressed()" *ngIf="slides.getActiveIndex() == 1">Save</button>
</ion-content>
