<!--
  Generated template for the FieldDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{field.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- Graph -->
  <div class="graph" *ngIf="graph">
    <canvas *ngIf="field.spreads.length" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="true" chartType="bar" width="640" height="480"></canvas>
    <p *ngIf="!field.spreads.length">Not enough events for graph</p>
  </div>
  <!-- Spreading Events -->
  <ion-list>
    <ion-list-header>Spreading events<button ion-button item-right (click)="addSpreadPressed()">Add Spreading</button></ion-list-header>
    <ion-item *ngIf="!field.spreads.length" no-lines>
      <p>No spreading events</p>
    </ion-item>
    <ion-item-sliding *ngFor="let spread of field.spreads | orderBy: ['-spreadDate']; let spreadIndex = index;" #slidingItem>
      <button ion-item (click)="editSpreadPressed(spreadIndex)">
        <h2>{{spread.spreadDate | date: 'd/M/y'}}</h2>
        <p>{{strings.type[spread.manureType]}}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteSpreadPressed(spreadIndex)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
