page-home {
    .map {
        top: 0px;
        right: 0px;
        bottom: 200px;
        left: 0px;
        overflow: hidden;
    }
    ion-fab {
        position: absolute !important;
        z-index: 9999999 !important;
        bottom: 172px !important;
    }
    .swiper {
        height: 200px;
        bottom: 0px;
    }
}
