<ion-header>
  <ion-navbar>
    <ion-title>
      Your Farm
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!dismissSettingsPrompt">
    <button class="close-button" ion-button icon-right clear (click)="dismissSettings()">
      Dismiss
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-card-content>
      <ion-card-title>
        Personalise
      </ion-card-title>
      <p>To change your farm's rainfall, fertiliser cost, custom manures or units of measure, go to the Settings tab.</p>
      <button ion-button block small (click)="openSettings()">Change Settings</button>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>Fields<button ion-button item-right (click)="addField()">Add Field</button></ion-list-header>
    <ion-item *ngIf="!fields.length" no-lines>
      <p>No fields</p>
    </ion-item>
    <ion-item-sliding *ngFor="let field of fields; let fieldIndex = index;" #slidingItem>
      <button ion-item (click)="viewField(fieldIndex)">
        <h2>{{field.name}}</h2>
        <p>{{(units === 'imperial' ? hectaresToAcres(field.hectares) : field.hectares) | number:'1.0-2'}} {{strings.units[units].fieldSize.long}}{{field.hectares > 1 ? 's' : ''}}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button (click)="editField(slidingItem, fieldIndex)">Edit</button>
        <button ion-button color="danger" (click)="deleteField(fieldIndex)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
