page-home {
    .map {
        top: 0px;
        right: 0px;
        bottom: 220px;
        left: 0px;
        overflow: hidden;
    }
    ion-fab {
        position: absolute !important;
        z-index: 9999999 !important;
        bottom: 192px !important;
    }
    .swiper {
        height: 220px;
        bottom: 0px;
    }

    .close-button {
        float:right;
        color: #999;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 8px;
    }

    .card-ios {
        background: #EFEFFF;
    }

    ion-card-title.card-title-ios {
        padding-top: 0px;
    }

    .card-ios p {
        margin-bottom: 8px;
    }

    ion-thumbnail {
        border-radius: 5px;
        overflow: hidden;
    }
}
