<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>General settings</ion-list-header>
    <ion-item>
      <ion-label>Units</ion-label>
      <ion-select [(ngModel)]="units" (ionChange)="setUnits(units)">
        <ion-option value="metric">Metric</ion-option>
        <ion-option value="imperial">Imperial</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Farm Rainfall</ion-label>
      <ion-select [(ngModel)]="rainfall" (ionChange)="setRainfall(rainfall)">
        <ion-option value="high">High (&gt;700mm)</ion-option>
        <ion-option value="medium">Medium (600-700mm)</ion-option>
        <ion-option value="low">Low (&lt;600mm)</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Fertiliser costs</ion-list-header>
    <ion-item>
      <ion-label>N</ion-label>
      <ion-input type="number" [(ngModel)]="fertiliserCostNitrogen" (input)="setFertiliserCostNitrogen(fertiliserCostNitrogen)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>P&#x2082;O&#x2085;</ion-label>
      <ion-input [(ngModel)]="fertiliserCostPhosphorous" (input)="setFertiliserCostPhosphorous(fertiliserCostPhosphorous)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>K&#x2082;O</ion-label>
      <ion-input [(ngModel)]="fertiliserCostPotassium" (input)="setFertiliserCostPotassium(fertiliserCostPotassium)"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Custom Manures<button ion-button item-right (click)="addCustomManurePressed()">Add</button></ion-list-header>
    <ion-item *ngIf="!customManure.length" no-lines>
      <p>No items</p>
    </ion-item>
    <ion-item-sliding *ngFor="let manure of customManure; let customManureIndex = index;" #slidingItem>
      <button ion-item (click)="editCustomManure(customManureIndex)">
        <h2>{{manure.name}}</h2>
        <ion-badge color="light">N: {{manure.content[0]}}</ion-badge> <ion-badge color="light">P&#x2082;O&#x2085;: {{manure.content[1]}}</ion-badge> <ion-badge color="light">K&#x2082;O: {{manure.content[2]}}</ion-badge>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteCustomManure(slidingItem, customManureIndex)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
