// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

button.swiper-pagination-bullet-active {
  background: #32db64;
}

.capitalize {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem !important;
}

ion-select {
  max-width: 50% !important;
}

.alert-ios .alert-radio-label {
  white-space: normal !important;
}

/* Fixes white-space above header on iPad 2 simulated 1x view (Breaks on retina iPad) */
/*.ios.platform-ipad {
  ion-nav ion-navbar {
    min-height: 44px !important;
    padding-top: 4px !important;
    ion-title {
      padding-top: 0px !important;
      height: 44px !important;
      min-height: 44px !important;
    }
  }
  ion-content > .fixed-content, ion-content > .scroll-content {
    margin-top: 44px !important;
  }
}*/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #32db64,
  secondary:  #387ef5,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
