page-calculator {
    // Align slide content to the top
    .swiper-slide {
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }
    // Move slider pagination up
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 18px;
        .swiper-pagination-bullet {
            pointer-events: none;
        }
    }

    ion-list.list-ios {
        margin-bottom: 16px;
    }

    // Position slider controls
    button.prev {
        bottom: 8px;
        left: 8px;
    }
    button.next {
        bottom: 8px;
        right: 8px;
    }

    // Custom Grid Padding
    ion-grid {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    ion-row {
        padding: 5px 0;
    }

    .row-title {
        font-size: 11px;
        font-weight: bold;
        text-align: right;
    }

    .row-value {
        font-size: 12px;
    }

    ion-row.row-crop-available {
        background: #DFDFFF;
        font-weight: bold;
    }

    // Force label heading to be left aligned (Application Rate Label)
    ion-label {
        text-align: left;
    }
    // Remove forced uppercase style (Application Rate Value)
    ion-badge {
        text-transform: none;
    }
    ion-scroll {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 50px;
        left: 0px;
    }
    ion-card {
        position: absolute;
        top: 0px;
        bottom: 237px;
        img {
            object-fit: cover;
            width: 100% !important;
            height: 100% !important;
        }
    }
    .bottom-fixed {
        position: absolute;
        right: 0px;
        bottom: 50px;
        left: 0px;
        height: 197px;
        ion-list {
            margin-bottom: 0px;
        }
    }
}
