<!--
  Generated template for the FieldAdd page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides ion-fixed class="swiper-no-swiping">
    <ion-slide>
      <div padding>
        <h1>Create boundaries</h1>
        <p>Create the boundaries of your field below by creating points in a clockwise fashion.</p>
      </div>
      <div id="map-add" class="map"></div>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-list-header>Basic Details</ion-list-header>
        <ion-item>
          <ion-label stacked>Field Name</ion-label>
          <ion-input type="text" placeholder="My Field"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Hectares</ion-label>
          <ion-input type="text" value="0"></ion-input>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-list-header>Soil Details</ion-list-header>
        <ion-item>
          <ion-label>Soil Type</ion-label>
          <ion-select [(ngModel)]="soiltype">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Organic Manures<p>Do you regularly add organic manures?</p></ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Results of soil tests (if available)</ion-list-header>
        <ion-item>
          <ion-label>Phorphorous (P)</ion-label>
          <ion-select [(ngModel)]="soilp">
            <ion-option value="1">0</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Potash (K)</ion-label>
          <ion-select [(ngModel)]="soilk">
            <ion-option value="1">0</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">1-2</ion-option>
            <ion-option value="3">2-3</ion-option>
            <ion-option value="3">3+</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-list-header>Crop Details</ion-list-header>
        <ion-item>
          <ion-label>Grass Grown<p>Has grass grown in the last 3 years?</p></ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Old Crop Type</ion-label>
          <ion-select [(ngModel)]="oldcroptype">
            <ion-option value="0">0</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>New Crop Type</ion-label>
          <ion-select [(ngModel)]="newcroptype">
            <ion-option value="0">0</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-list-header>Soil N Supply</ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>N Kg/ha</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>0</ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-list>
        <ion-list-header>Crop nutrient requirements</ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>N Kg/ha</h1>
            </ion-col>
            <ion-col>
              <h1>P&#x2082;O&#x2085; Kg/ha</h1>
            </ion-col>
            <ion-col>
              <h1>K&#x2082;O Kg/ha</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>0</ion-col>
            <ion-col>0</ion-col>
            <ion-col>0</ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-slide>
  </ion-slides>
  <button ion-button clear small class="prev" ion-fixed (click)="prevPressed()">Previous</button>
  <button ion-button clear small class="next" ion-fixed (click)="nextPressed()" *ngIf="slides.getActiveIndex() !== 4">Next</button>
  <button ion-button clear small class="next" ion-fixed (click)="finishPressed()" *ngIf="slides.getActiveIndex() == 4">Finish</button>
</ion-content>