<!--
  Generated template for the SpreadAdd page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Spreading</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides ion-fixed pager class="swiper-no-swiping">
    <ion-slide>
      <ion-list>
        <ion-list-header>Basic Details</ion-list-header>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="spreadDate"></ion-datetime>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Manure Details</ion-list-header>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select [(ngModel)]="manureType" (ionChange)="manureTypeChanged()">
            <ion-option *ngFor="let manure of strings.type | keys" [value]="manure.key">{{manure.value}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Quality</ion-label>
          <ion-select *ngIf="manureType !== 'custom'" [(ngModel)]="manureQuality">
            <ion-option *ngFor="let quality of strings.quality[manureType] | keys" [value]="quality.key">{{quality.value}}</ion-option>
          </ion-select>
          <!-- Custom Manure List -->
          <ion-select *ngIf="manureType == 'custom'" [(ngModel)]="manureQuality" [disabled]="!customManureList.length">
            <ion-option *ngFor="let quality of customManureList; let manureIndex = index;" [value]="manureIndex">{{quality.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Application Type</ion-label>
          <ion-select [(ngModel)]="manureApplicationType" [disabled]="!strings.application[manureType]">
            <ion-option *ngFor="let application of strings.application[manureType] | keys" [value]="application.key">{{application.value}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <!-- Calculations -->
      <ion-card>
        <img *ngIf="crapPicture" [src]="crapPicture" />
      </ion-card>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>N</ion-col>
          <ion-col col-2>P&#x2082;O&#x2085;</ion-col>
          <ion-col col-2>K&#x2082;O</ion-col>
        </ion-row>
        <ion-row *ngIf="cropRequirementsSupply">
          <ion-col col-6 class="row-title">Crop nutrient reqs ({{strings.units[units].density}}/{{strings.units[units].fieldSize.short}})</ion-col>
          <ion-col col-2 class="row-value">{{cropRequirementsSupply.nitrogenRequirement}}</ion-col>
          <ion-col col-2 class="row-value">{{cropRequirementsSupply.phosphorousRequirement}}</ion-col>
          <ion-col col-2 class="row-value">{{cropRequirementsSupply.potassiumRequirement}}</ion-col>
        </ion-row>
        <ion-row *ngIf="cropAvailable">
          <ion-col col-6 class="row-title">Crop available ({{strings.units[units].density}}/{{strings.units[units].fieldSize.short}})</ion-col>
          <ion-col col-2 class="row-value" *ngIf="cropAvailable[0] !== 'na'">{{cropAvailable[0] | number:'1.0-2'}}</ion-col>
          <ion-col col-2 class="row-value" *ngIf="cropAvailable[0] == 'na'">N/A</ion-col>
          <ion-col col-2 class="row-value">{{cropAvailable[1] | number:'1.0-2'}}</ion-col>
          <ion-col col-2 class="row-value">{{cropAvailable[2] | number:'1.0-2'}}</ion-col>
        </ion-row>
        <ion-row *ngIf="cropRequirementsSupply && cropAvailable">
          <ion-col col-6 class="row-title">Fert still needed ({{strings.units[units].density}}/{{strings.units[units].fieldSize.short}})</ion-col>
          <ion-col col-2 class="row-value" *ngIf="cropAvailable[0] !== 'na'">{{cropRequirementsSupply.nitrogenRequirement - cropAvailable[0] | number:'1.0-2'}}</ion-col>
          <ion-col col-2 class="row-value" *ngIf="cropAvailable[0] == 'na'">N/A</ion-col>
          <ion-col col-2 class="row-value">{{cropRequirementsSupply.phosphorousRequirement - cropAvailable[1] | number:'1.0-2'}}</ion-col>
          <ion-col col-2 class="row-value">{{cropRequirementsSupply.potassiumRequirement - cropAvailable[2] | number:'1.0-2'}}</ion-col>
        </ion-row>
        <ion-row *ngIf="manureCosts">
          <ion-col col-6 class="row-title">Fertiliser savings (&pound;)</ion-col>
          <ion-col col-2 class="row-value">{{manureCosts[0]}}</ion-col>
          <ion-col col-2 class="row-value">{{manureCosts[1]}}</ion-col>
          <ion-col col-2 class="row-value">{{manureCosts[2]}}</ion-col>
        </ion-row>
      </ion-grid>
      <!-- Density Slider -->
      <ion-list>
        <ion-list-header>
          <ion-label>Density</ion-label>
          <ion-badge item-right>{{manureDensity}} {{strings.units[units].type[manureType]}}/{{strings.units[units].fieldSize.short}}</ion-badge>
        </ion-list-header>
        <ion-item>
          <ion-range min="0" [max]="strings.rangeMax[manureType]" [(ngModel)]="manureDensity" (ionChange)="calculate()">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>{{strings.rangeMax[manureType]}}</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
  <button ion-button clear small class="prev" ion-fixed (click)="prevPressed()" *ngIf="slides.getActiveIndex() !== 0">Previous</button>
  <button ion-button clear small class="next" ion-fixed (click)="nextPressed()" *ngIf="slides.getActiveIndex() !== 1">Next</button>
  <button ion-button clear small class="next" ion-fixed (click)="addPressed()" *ngIf="slides.getActiveIndex() == 1">Add</button>
</ion-content>
