page-spread-add {
    // Align slide content to the top
    .swiper-slide {
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }
    // Move slider pagination up
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 18px;
        .swiper-pagination-bullet {
            pointer-events: none;
        }
    }

    // Position slider controls
    button.prev {
        bottom: 8px;
        left: 8px;
    }
    button.next {
        bottom: 8px;
        right: 8px;
    }

    // Custom Grid Padding
    ion-grid {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    ion-row {
        padding: 5px 0;
    }

    .row-title {
        font-size: 11px;
        font-weight: bold;
        text-align: right;
    }

    .row-value {
        font-size: 12px;
    }

    // Force label heading to be left aligned (Density Label)
    ion-label {
        text-align: left;
    }
    // Remove forced uppercase style (Density Value)
    ion-badge {
        text-transform: none;
    }
}
